<% layout('layouts/boilerplate')%>
    <div class="row">
        <div class="text-center">New Campground</div>
        <div class="col-md-6 offset-md-3">
            <div class="card shadow">
                <div class="card-body">
            <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="campground[title]" required>
                    <div class="valid-feedback">Looks Good!</div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text"  class="form-control" id="location" name="campground[location]" required>
                    <div class="valid-feedback">Looks Good!</div>
                </div>
                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Image Url</label>
                    <input type="text"  class="form-control" id="image" name="campground[image]" required>
                    <div class="valid-feedback">Looks Good!</div>
                </div> -->
            
              
                <!-- <input type="file" name="image" id="" multiple> -->
                <!-- <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="text"  class="form-control" id="price" name="campground[price]">
                </div> -->
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" id="price" class="form-control"  aria-label="Amount (to the nearest dollar)" aria-describedby="price-label" name="campground[price]" required>
                    <span class="input-group-text">.00</span>
                    <div class="valid-feedback">Looks Good!</div>
                  </div>
                </div>
                <div class="mb-3">
                    <label for="desc" class="form-label">Description</label>
                    <textarea type="text"  class="form-control" id="desc" name="campground[description]" required></textarea>
                    <div class="valid-feedback">Looks Good!</div>
                </div>
                <div class="mb-3">
                    <label>Upload Images</label> 
                <div class="input-group custom-file mb-3">
                    <input type="file" class="form-control" id="image" name="image" multiple>
                    <label class="input-group-text custom-file-label" for="image">Upload</label>
                  </div>
                </div>
                <div>
                <button class="btn btn-success" >Add Campground</button>
            </div>
            </form>
            <a href="/campgrounds">All Campgrounds</a>
        </div>
    </div>
</div>
</div>

    <script>
        (() => {
        'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.validated-form')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
    })
})()
    </script>